*{
    margin: 0;
    border: 0;
    padding: 0;    
}

body{
    background: url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg) no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    
    height: 100%;
}
.webbar{
    margin: 40px 50px 5px 50px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: baseline;
}
.Atags{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 50;
}
.pgName{
    justify-content: flex-start;
    flex-grow: 2;
    text-align: left;
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
}
hr{
    background-color: white;
    z-index: 2;
    height: 2px;
    margin: 0 50px;
}
.container{
    height: 2000px;
    width: auto;
}
.freshest{
    display: flex;
    height: 918px;
    color: white;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.freshest hr{
    background-color: white;
    z-index: 2;
    height: 2px;
    width: 28%;
    margin: 0 100px;
}
.freshest h1{
    font-size: 120px;
    font-family: 'Rajdhani', sans-serif;
}
.freshest h2{
    font-size:65px ;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 50;
}
.bread, .pasta{
    background-color: black;
    color: white;
    display: flex;
    height: 500px;
    width: auto;
    flex-flow: column wrap ;
    justify-content: center;
}
.bread h1, .pasta h1 {
    margin:50px 0 50px 80px;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.bread p, .pasta p, .pina p {
    height: 100px;
    margin-left:80px;
    white-space: normal;
    word-wrap: break-word;
    width: 45%;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 50;
}
.pasta{
    background-color: #212121;
}
.pina{
    background-color: #121212;
    color: white;
    display: flex;
    height: 500px;
    width: auto;
    flex-flow: column wrap-reverse ;
    justify-content: center;
}
.pina h1{
    margin:50px 0 50px 150px;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}